<ul class="top-menu">
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Products", "Index", "Products")
    </li>
</ul>

<style>
    .top-menu {
        margin: 0;
        padding: 0;
    }
    .top-menu > li {
        display: inline;
    }

    ul > li {
        list-style-type: none;
    }
</style>