<ul>
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li>
        @Html.ActionLink("Products", "Index", "Products")
    </li>
</ul>

<style>
    ul {
        margin: 0;
        padding: 0;
    }
    ul > li {
        list-style-type: none;
        display: inline;
    }
</style>